.expense-component {
  padding: 16px;
  height: calc(100vh - 64px - 32px);
  display: flex;
  flex-direction: column;

  .expense-component-card {
    flex: 1;

    .expense-component-card-title {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 16px;
      align-items: flex-end;

      .expense-component-card-title-button {
        margin-top: 12px;
        margin-right: 16px;
      }
    }
  }
}
