<mat-toolbar class="mat-elevation-z8">
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
  Expense tracker
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <!--// todo simon: (P-3) Style fix-->
    <mat-icon style="font-size: 100px" class="avatar mat-elevation-z8"> account_balance_wallet </mat-icon>

    <mat-divider></mat-divider>

    <a mat-button class="menu-button" [routerLink]="'/expenses'">
      <mat-icon> attach_money </mat-icon>
      <span> Expenses </span>
    </a>

    <mat-divider></mat-divider>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
