<h1 mat-dialog-title>Expense</h1>

<form [formGroup]="expense">
  <div mat-dialog-content>
    <mat-form-field class="w-100" appearance="fill">
      <mat-label>Recipient</mat-label>
      <input matInput formControlName="recipient" />
    </mat-form-field>

    <div class="add-expense-row">
      <mat-form-field class="add-expense-amount" appearance="fill">
        <mat-label>Amount</mat-label>
        <input type="number" matInput formControlName="amount" />
      </mat-form-field>

      <v-currency-select formControlName="currency"></v-currency-select>
    </div>

    <mat-form-field class="w-100" appearance="fill">
      <mat-label>Type</mat-label>
      <mat-select formControlName="type">
        <mat-option *ngFor="let type of ExpenseTypes" [value]="type">{{ type }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="add-expense-buttons" mat-dialog-actions>
    <button mat-button (click)="onCancelClicked()">Cancel</button>
    <button type="submit" mat-button (click)="onSaveClicked()">Save</button>
  </div>
</form>
